@import "tailwindcss";

@font-face {
  font-family: "pokemon";
  src: url("/Font/PokemonHollow.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bubblegum";
  src: url("/Font/BubblegumSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pokemon: pokemon, "sans-serif";
  --font-bubble: bubblegum, "sans-serif";
}
